[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
scipy = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]



[requires]

python_version = "3.6"

[scripts]
upload-test = "twine upload --repository-url https://test.pypi.org/legacy/ dist/*"
upload = "twine upload dist/*"